<header><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-default"><%= link_to "team", team_path %>
	<%= link_to "contact", contact_path %> <%= link_to "home", '/' %></nav>
</header>


<h1 class = "BLA">Super Gossip</h1>
<br />
<p><%= @individual.created_at %></p>
<p><%= @individual.content %><br /><%= @individual.autho %></p>
